<%- include('../layouts/headerM.ejs') %>
<%- include('../layouts/admin-navigationM.ejs') %>

<!-- PARALLAX BANNER -->
<div class="breadcrumb parallax-container">
  <% pages.forEach(page => {
    if(page.firstSlug == 'shop') { %>
      <div class="parallax"><img src="/images/pages/<%= page.firstSlug %>/<%= page.banner %>" alt="<%= page.banner %>"></div>
    <% }
  }); %>
  <h1 class="category-title"><%= title %></h1>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/dashboard">Dashboard</a></li>
    <li><a href="/admin/categories">All Categories</a></li>
  </ul>
</div>
<!-- End of PARALLAX BANNER -->



<!-- BELLOW BANNER CONTENT -->
<main class="container">
  <div class="row">

    <div class="col-sm-9" id="content">

      <!-- FLASH MESSAGES -->
      <%- include('../layouts/flashMessages.ejs') %>

      <!-- HEADLINE -->
      <h1>Add new category</h1>
      <p>Please enter all required information in order to add new category to this website.</p>
      <p>NOTE: New category will be automatically shown in the website navigation Sidebar.</p>
      <br>
      <a class="btn btn-primary" href="/admin/categories">Back to all categories</a>
      <br><br><br>


      <!-- FORM -->
      <form name="form" method="POST" class="form-horizontal" action="/admin/add-category" enctype="multipart/form-data" onsubmit="return checkCheckBox(this);">
        <!-- VALIDATION ERROR MESSAGES ALL TOGETHER
        <% if(valErrors) {
              valErrors.forEach(err => { %>
                <div class="alert alert-danger"><%= err.msg %></div>
             <% });
        } %> -->

        <!-- CATEGORY DATA -->
        <fieldset id="data">
          <legend>Category Data</legend>

          <!-- Title -->
          <% if(valErrors.find(err => err.param === 'title')) { 
            const index = valErrors.findIndex(err => err.param === 'title'); %>
            <div class="alert alert-danger"><%= valErrors[index].msg %></div>
          <% } %>
          <div class="form-group required">
            <label for="input-title" class="col-sm-2 control-label">Title</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="input-title" placeholder="Title" value="<%= oldInput.title %>" name="title">
            </div>
          </div>

          <!-- Slug -->
          <% if(valErrors.find(err => err.param === 'slug')) { 
            const index = valErrors.findIndex(err => err.param === 'slug'); %>
            <div class="alert alert-danger"><%= valErrors[index].msg %></div>
          <% } %>
          <div class="form-group required">
            <label for="input-slug" class="col-sm-2 control-label">Slug</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="input-slug" placeholder="Slug" value="<%= oldInput.slug %>" name="slug">
            </div>
          </div>

          <!-- Promo text -->
          <% if(valErrors.find(err => err.param === 'text')) { 
            const index = valErrors.findIndex(err => err.param === 'text'); %>
            <div class="alert alert-danger"><%= valErrors[index].msg %></div>
          <% } %>
          <div class="form-group required">
            <label for="input-text" class="col-sm-2 control-label">Image promo text</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="input-text" placeholder="Text" value="<%= oldInput.text %>" name="text">
            </div>
          </div>

          <!-- Image -->
          <div class="form-group">
            <label for="input-subcontent" class="col-sm-2 control-label">Image</label>
            <div class="custom-file col-sm-10">
              <!--  JS ONCHANGE EVENT for showing the preview of an uploaded image  -->      
              <input class="custom-file-input form-control" type="file" name="image" placeholder="Browse" onchange="document.getElementById('imgPreview').style.display = 'block'; document.getElementById('imgPreview').src = window.URL.createObjectURL(this.files[0]); document.getElementById('imgPreview').height = 200">
            </div>
            <br><br><br>
            <label for="input-image" class="col-sm-2 control-label"></label>
            <div class="custom-file col-sm-10">
              <img src="#" id="imgPreview" style="display: none;">
            </div>
          </div>

        </fieldset>
        <!-- End of CATEGORY DATA -->

          
        <!-- BUTTON -->
        <div class="buttons">
          <div class="pull-left">
            <!-- CSRF -->
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <!-- Submit -->
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </div>
        <!-- End of BUTTON -->

      </form>
      <!-- End of FORM -->


    </div>

  </div>
</main>
<!-- End of BELOW BANNER CONTENT -->


<%- include('../layouts/footerM.ejs') %>
