<%- include('../layouts/headerM.ejs') %>
<%- include('../layouts/admin-navigationM.ejs') %>


<!-- PARALLAX BANNER -->
<div class="breadcrumb parallax-container">
  <% pages.forEach(page => {
    if(page.firstSlug == 'shop') { %>
      <div class="parallax"><img src="/images/pages/<%= page.firstSlug %>/<%= page.banner %>" alt="<%= page.banner %>"></div>
    <% }
  }); %>
  <h1 class="category-title"><%= title %></h1>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/dashboard">Dashboard</a></li>
    <li><a href="/admin/categories">All Categories</a></li>
  </ul>
</div>
<!-- End of PARALLAX BANNER -->



<!-- BELLOW BANNER CONTENT -->
<main class="container">
  <div class="row">

    <div class="content col-sm-12">

      <!-- FLASH MESSAGES -->
      <%- include('../layouts/flashMessages.ejs') %>

      <h1>All categories</h1>
      <p>Drag and drop categories in the table in order to rearrange their visual appearance at the Website Sidebar.</p>
      <br>
      <a class="btn btn-primary" href="/admin/add-category">Add new category</a>
      <br><br><br>

      <% if(categories.length > 0) { %>
        <!--  TABLE  -->
        <table class="table table-striped sorting">
          <thead>
            <tr class="home">
              <th>TITLE</th>
              <th>IMAGE</th>
              <th>EDIT</th>
              <th>DELETE</th>
            </tr>
          </thead>
          <tbody class="reorder">
            <% categories.forEach(category => { %>
              <tr id="id_<%= category._id %>" class="<%= category.slug %>">
                <td><a href="/products/<%= category.slug %>"><%= category.title %></a></td>
                <td>
                  <% if(!category.image) { %>
                    <img src="/images/categories/noimage.png" style="height: 50px;">
                  <% } else { %>
                    <img src="/images/categories/<%= category.firstSlug %>/<%= category.image %>" style="height: 50px;">
                  <% } %>
                </td>
                <td><a href="/admin/edit-category/<%= category.slug %>">Edit</a></td>
                <td><a href="/admin/delete-category/<%= category.slug %>" onclick="return confirm('Are you sure you want to delete this category?')">Delete</a></td>
              </tr>
            <% }) %>
          </tbody>
        </table>
        <!--  End of TABLE  -->
      <% } else { %>
        <br>
        <h3 class="category-title">No categories found</h3>
      <% } %>

      <!-- PAGINATION -->

    </div>

  </div>
</main>
<!-- End of BELOW BANNER CONTENT -->

<!--  JQUERY script to enable REORDERING of categories  -->	
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<script>
    $('.reorder').sortable({
      items: "tr:not('.home')",
      placeholder: "ui-state-highlight",
      update: function() {
        var ids = $('.reorder').sortable("serialize");
        var url = "/admin/reorder-categories";
        $.post(url, ids);
      }
    });
</script>


<%- include('../layouts/footerM.ejs') %>
