<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= info.shopName %> <%= title %></title>
  <meta http-equiv="content-type" content="text/html;charset=utf-8" />

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="e-commerce site well design with responsive view." />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <link href="/images/info/<%= info.favicon %>" rel="icon" type="image/png">
  <link href="/cssM/bootstrap.min.css" rel="stylesheet" media="screen">
  <link href="/javascriptM/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,700" rel="stylesheet"/>
  <link href="/cssM/stylesheet.css" rel="stylesheet">
  <link href="/cssM/responsive.css" rel="stylesheet">
  <link href="/javascriptM/owl-carousel/owl.carousel.css" type="text/css" rel="stylesheet" media="screen" />
  <link href="/javascriptM/owl-carousel/owl.transitions.css" type="text/css" rel="stylesheet" media="screen" />
  
  <!-- FANCYBOX CSS for SLIDESHOW of Photos (product details page) -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />

  <script type="text/javascript" src="/javascriptM/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="/javascriptM/bootstrap/js/bootstrap.min.js" ></script>
  <script type="text/javascript" src="/javascriptM/template_js/jstree.min.js"></script>
  <script type="text/javascript" src="/javascriptM/template_js/template.js"></script>
  <script type="text/javascript" src="/javascriptM/common.js"></script>
  <script type="text/javascript" src="/javascriptM/global.js"></script>
  <script type="text/javascript" src="/javascriptM/owl-carousel/owl.carousel.min.js"></script>
</head>


<body class="index">

  <!-- LOAD GIF -->
  <div class="preloader loader" style="display: block;"> 
    <img src="/imageM/loader.gif">
  </div>


  <header>
    <!-- TOP HEADER -->
    <div class="header-top">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">

            <!-- Left side -->
            <div class="top-left pull-left">
              <div class="language">
                <form action="#" method="post" enctype="multipart/form-data" id="language">
                  <div class="btn-group">
                    <button class="btn btn-link dropdown-toggle" data-toggle="dropdown" aria-expanded="false"> English <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                      <li><a href="#">Arabic</a></li>
                      <li><a href="#"> English</a></li>
                      <li><a href="#"> French</a></li>
                    </ul>
                  </div>
                </form>
              </div>
              <div class="currency">
                <form action="#" method="post" enctype="multipart/form-data" id="currency">
                  <div class="btn-group">
                    <button class="btn btn-link dropdown-toggle" data-toggle="dropdown"> <strong>USD</strong> <span class="caret"></span> </button>
                    <ul class="dropdown-menu">
                      <li><a href="#">Euro</a></li>
                      <li><a href="#">Pound</a></li>
                      <li><a href="#">USD</a></li>
                    </ul>
                  </div>
                </form>
              </div>
              <div class="wel-come-msg"> Welcome <% if(user) { %> <u><b><%= user.username %></b></u><% } %> to our online store! </div>
            </div>

            <!-- Right side-->
            <div class="top-right pull-right">
              <div id="top-links" class="nav pull-right">
                <ul class="list-inline">
                  <!-- MY ACCOUNT Dropdown Menu -->
                  <li class="dropdown">
                    <a href="#" title="My Account" class="dropdown-toggle" data-toggle="dropdown">
                      <i class="fa fa-user" aria-hidden="true"></i>
                      <span>My Account</span> 
                      <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right">
                      <!-- If USER is logged in -->
                      <% if(user) { %>
                        <li><a href="/logout">Logout</a></li>
                      <% } else { %>
                      <!-- If USER is logged out -->
                        <li><a href="/login">Login</a></li>
                        <li><a href="/register">Register</a></li>
                      <% } %>
                    </ul>
                  </li>
                  <!-- End of MY ACCOUNT Dropdown Menu -->
                  <!-- WISH LIST Menu -->
                  <li>
                    <a href="/wishlist" id="wishlist-total">
                      <i class="fa fa-heart" aria-hidden="true"></i>
                      <span>Wishlist</span>
                      <span> (<% if(typeof wishlist !== 'undefined' && wishlist.length > 0) { %>
                                <%= wishlist.length %>
                              <% } else { %>
                                0
                              <% } %>)
                      </span>
                    </a>
                  </li>
                  <!-- End of WISH LIST Menu -->
                </ul>
              </div>
            </div>
            <!-- End of Right Side -->

          </div>
        </div>
      </div>
    </div>
    <!-- End of TOP HEADER -->

    <!-- LOWER HEADER -->
    <div class="container">
      <div class="header-inner">
        <!-- LOWER HEADER - Left Side -->
        <div class="col-sm-3 col-xs-3 header-left">
          <div id="logo"> 
            <a href="/">
              <img src="/images/info/<%= info.logo %>" title="E-Commerce" alt="E-Commerce" class="img-responsive">
            </a> 
          </div>
        </div>
        <!-- End of LEFT SIDE -->

        <!-- LOWER HEADER - Right Side -->
        <div class="col-sm-9 col-xs-9 header-right">
          <!-- SEARCH FORM -->
          <div id="search" class="input-group">
            <input type="text" name="search" value="" placeholder="Enter your keyword ..." class="form-control input-lg">
            <span class="input-group-btn">
            <button type="button" class="btn btn-default btn-lg"><span>Search</span></button>
            </span> 
          </div>
          <!-- End of SEARCH FORM -->

          <!-- CART -->
          <div id="cart" class="btn-group btn-block">
            <!-- CART BUTTON -->
            <button type="button" class="btn btn-inverse btn-block btn-lg dropdown-toggle cart-dropdown-button"> 
              <span id="cart-total"> 
                <span>Shopping Cart</span>
                <br>
                <% if(typeof cart !== 'undefined' && cart.length > 0) { %>
                  <%= cart.length %>
                <% } else { %>
                  0
                <% } %>
                item(s) -
                <% if(typeof cart !== 'undefined') {
                  let total = 0;
                    cart.forEach(item => { 
                      total += item.subtotal; }); %>
                  $<%= parseFloat(total).toFixed(2) %>
                <% } else { %>
                  $0.00
                <% } %>
              </span>
            </button>
            <!-- End of CART BUTTON -->

            <!-- CART CONTENT Dropdown -->
            <ul class="dropdown-menu pull-right cart-dropdown-menu">

              <% if(typeof cart !== 'undefined') { 
                cart.forEach(item => { %>
                <!-- CART CONTENT - 1st Item -->
                <li>
                  <table class="table table-striped">
                    <tbody>
                      <tr>
                        <td class="text-center">
                          <a href="/products/<%= item.category %>/<%= item.slug %>">
                            <img class="img-thumbnail" title="<%= item.title %>" alt="<%= item.title %>" src="<%= item.imagePath %>" style="height: 40px;">
                          </a>
                        </td>
                        <td class="text-left">
                          <a href="/products/<%= item.category %>/<%= item.slug %>"><%= item.title %></a>
                        </td>
                        <td class="text-right">x <%= item.quantity %></td>
                        <td class="text-right">$<%= parseFloat(item.price).toFixed(2) %></td>
                        <td class="text-center">
                          <button class="btn btn-danger btn-xs" title="Remove" type="button">
                              <a href="/cart/update/<%= item.slug %>?action=clear"><i class="fa fa-times"></i></a>
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </li>
                <!-- End of CART CONTENT 1st Item -->
                <% });
              } else { %>
                <li>
                  <h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    Your cart is empty!</h4>
                </li>
              <% } %>

              <!-- CART CONTENT Footer -->
              <li>
                <div>
                  <table class="table table-bordered">
                    <tbody>
                      <% if(typeof cart !== 'undefined') {
                        let total = 0;
                          cart.forEach(item => { 
                            total += item.subtotal; }); %>
                        <tr>
                          <td class="text-right"><strong>Sub-Total</strong></td>
                          <td class="text-right">$<%= parseFloat(total * 0.8).toFixed(2) %></td>
                        </tr>
                        <tr>
                          <td class="text-right"><strong>VAT (20%)</strong></td>
                          <td class="text-right">$<%= parseFloat(total * 0.2).toFixed(2) %></td>
                        </tr>
                        <tr>
                          <td class="text-right"><strong>Total</strong></td>
                          <td class="text-right">$<%= parseFloat(total).toFixed(2) %></td>
                        </tr>
                      <% } else { %>
                        <tr>
                          <td class="text-right"><strong>Total</strong></td>
                          <td class="text-right">$0.00</td>
                        </tr>
                      <% } %>
                    </tbody>
                  </table>

                  <!-- CART CONTENT Footer Buttons -->
                  <p class="text-right"> 
                    <span class="btn-viewcart">
                      <a href="/cart">
                        <strong><i class="fa fa-shopping-cart"></i> View Cart</strong>
                      </a>
                    </span> 
                    <span class="btn-checkout">
                      <a href="/cart/checkout">
                        <strong><i class="fa fa-share"></i> Checkout</strong>
                      </a>
                    </span> 
                  </p>
                  <!-- End of CART CONTENT Footer Buttons -->
                </div>
              </li>
              <!-- End of CART CONTENT Footer -->

            </ul>
            <!-- End of CART CONTENT Dropdown -->

          </div>
          <!-- End of CART -->

        </div>
        <!-- End of LOWER HEADER - Right Side -->

      </div>
    </div>
    <!-- End of LOWER HEADER -->
  </header>




  


