<!-- PAGINATION -->
<div class="category-page-wrapper">
     <div class="result-inner">
          Showing <% if((typeof products !== 'undefined' && products.length > 0) || (typeof brands !== 'undefined' && brands.length > 0)) { %> <%= (currentPage - 1) * limit + 1  %> <% } else { %> 0 <% } %>
           to 
               <% if(numItems >= (currentPage * limit)) { %>
                    <%= currentPage * limit %>
               <% } else { %>
                    <%= numItems %>
               <% } %> 
           <%= items %> of <%= numItems %>
           (<%= lastPage %> Page<% if(lastPage > 1) { %>s<% } %>)
     </div>
     <div class="pagination-inner">
          <ul class="pagination">
               <!-- arrow previous -->
               <% if(currentPage > 1) { %>
                    <li><a href="?page=<%= prevPage %>&dir=<%= dir %>&order=<%= order %>&limit<%= limit %>&stock=<%= stock %>&price=<%= price %>">&lt;Prev</a></li>
               <% } %>
               <!-- page 1 -->
               <% if(currentPage > 1) { %>
                    <li><a href="?page=1&dir=<%= dir %>&order=<%= order %>&limit<%= limit %>&stock=<%= stock %>&price=<%= price %>"><span>1</span></a></li>
               <% } %>
               <!-- ... -->
               <% if(currentPage - 2 > 1) { %>
                    <li><a href="#">...</a></li>
               <% } %>
               <!-- previous page -->
               <% if(prevPage > 1) { %>
                    <li><a href="?page=<%= prevPage %>&dir=<%= dir %>&order=<%= order %>&limit=<%= limit %>&stock=<%= stock %>&price=<%= price %>"><%= prevPage %></a></li>
               <% } %>
               <!-- current page -->
                    <li class="active"><a href="?page=<%= currentPage %>&dir=<%= dir %>&order=<%= order %>&limit=<%= limit %>&stock=<%= stock %>&price=<%= price %>"><%= currentPage %></a></li>
               <!-- next page -->
               <% if(nextPage < lastPage) { %>
                    <li><a href="?page=<%= nextPage %>&dir=<%= dir %>&order=<%= order %>&limit=<%= limit %>&stock=<%= stock %>&price=<%= price %>"><%= nextPage %></a></li>
               <% } %>
               <!-- ... -->
               <% if(currentPage + 2 < lastPage) { %>
                    <li><a href="#">...</a></li>
               <% } %>
               <!-- last page -->
               <% if(currentPage < lastPage) { %>
                    <li><a href="?page=<%= lastPage %>&dir=<%= dir %>&order=<%= order %>&limit=<%= limit %>&stock=<%= stock %>&price=<%= price %>"><%= lastPage %></a></li>
               <% } %>
               <!-- arrow next -->
               <% if(nextPage <= lastPage) { %>
                    <li><a href="?page=<%= nextPage %>&dir=<%= dir %>&order=<%= order %>&limit=<%= limit %>&stock=<%= stock %>&price=<%= price %>">Next&gt;</a></li>
               <% } %>
          </ul>
     </div>
</div>
<!-- End of PAGINATION -->