<%- include('../layouts/headerM.ejs') %>
<%- include('../layouts/navigationM.ejs') %>


<!-- PARALLAX BANNER -->
<div class="breadcrumb parallax-container">
  <div class="parallax"><img src="/images/prlx.jpg" alt="#"></div>
  <h1><%= title %></h1>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/login">Login</a></li>
    <li><a href="/register">Register</a></li>
  </ul>
</div>
<!-- End of PARALLAX BANNER -->

<!-- BELLOW BANNER CONTENT -->
<div class="container">
  <div class="row">

    <!-- ACCOUNT SIDEBAR -->
    <%- include('../layouts/sidebar-accountM.ejs') %>


    <!-- FORGOT PASSWORD SIDE -->
    <div id="content" class="col-sm-9">

      <!-- FLASH MESSAGES -->
      <%- include('../layouts/flashMessages.ejs') %>

      <h1>Forgot Your Password?</h1>
      <p>Enter the e-mail address associated with your account. Click continue to reset your password!</p>

      <form action="/reset-password" method="post" enctype="multipart/form-data" class="form-horizontal">
        <fieldset>
          <legend>Your E-Mail Address</legend>
          <div class="form-group required">
            <label class="col-sm-2 control-label" for="input-email">E-Mail Address</label>
            <div class="col-sm-10">
              <input type="email" name="email" value="" placeholder="E-Mail Address" id="input-email" class="form-control">
            </div>
          </div>
        </fieldset>

        <div class="buttons clearfix">
          <div class="pull-left"><a href="/login" class="btn btn-default">Back</a></div>
          <div class="pull-right">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <input type="submit" value="Continue" class="btn btn-primary" />
          </div>
        </div>
      </form>

    </div>
    <!-- End of FORGOT PASSWORD SIDE -->
  </div>
</div>
<!-- End of BELOW BANNER CONTENT -->


<%- include('../layouts/footerM.ejs') %>

