<%- include('../layouts/headerM.ejs') %>
<%- include('../layouts/navigationM.ejs') %>


<!-- PARALLAX BANNER -->
<div class="breadcrumb parallax-container">
  <div class="parallax"><img src="images/prlx.jpg" alt="banner"></div>
  <h1>Login</h1>
  <ul>
    <li><a href="/">Home</a></li>
    <!-- <li><a href="#">Account</a></li> -->
    <li><a href="/login">Login</a></li>
  </ul>
</div>
<!-- End of PARALLAX BANNER -->

<!-- BELLOW BANNER CONTENT -->
<div class="container">
  <div class="row">

    <!-- ACCOUNT SIDEBAR -->
    <%- include('../layouts/sidebar-accountM.ejs') %>


    <!-- LOGIN FORM SIDE -->
    <div class="col-sm-9" id="content">
      <div class="row">

        <!-- NEW CUSTOMER FORM -->
        <div class="col-sm-6">
          <h2>New Customer</h2>
          <p>Checkout Options:</p>
          <div class="radio">
            <label>
              <input type="radio" name="account" value="register" checked="checked">
              Register Account
            </label>
          </div>
          <!-- <div class="radio">
            <label>
              <input type="radio" name="account" value="guest">
              Guest Checkout
            </label>
          </div> -->
          <p>By creating an account you will be able to shop products, be up to date on an order's status, and keep track of the orders you have previously made.</p>
          <a href="/register"><input type="button" value="Continue" id="button-account" data-loading-text="Loading..." class="btn btn-primary"></a>
        </div>
        <!-- End of NEW CUSTOMER FORM -->



        <!-- RETURNING CUSTOMER FORM -->
        <div class="col-sm-6">

          <!-- FLASH MESSAGES -->
          <%- include('../layouts/flashMessages.ejs') %>

          <h2>Returning Customer</h2>
          <p>I am a returning customer</p>

          
          <form name="form" method="POST" action="/login">
            <div class="form-group">
              <label class="control-label" for="input-username">Username *</label>
              <% if(valErrors.find(err => err.param === 'username')) { 
                const index = valErrors.findIndex(err => err.param === 'username'); %>
                <div class="alert alert-danger"><%= valErrors[index].msg %></div>
              <% } %>
              <input type="text" name="username" value="<%= oldInput.username %>" placeholder="Username" id="input-username" class="form-control">
            </div>

            <% if(valErrors.find(err => err.param === 'password')) { 
              const index = valErrors.findIndex(err => err.param === 'password'); %>
              <div class="alert alert-danger"><%= valErrors[index].msg %></div>
            <% } %>
            <div class="form-group">
              <label class="control-label" for="input-password">Password *</label>
              <input type="password" name="password" value="<%= oldInput.password %>" placeholder="Password" id="input-password" class="form-control">

              <a href="/reset-password" class="forgot">Forgotten Password</a>
            </div>

            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <input type="submit" value="Login" id="button-login" data-loading-text="Loading..." class="btn btn-primary">
          </form>

        </div>
        <!-- End of RETURNING CUSTOMER FORM -->

      </div>
    </div>
    <!-- End of LOGIN FORM SIDE -->

  </div>
</div>
<!-- End of BELOW BANNER CONTENT -->


<%- include('../layouts/footerM.ejs') %>
