<%- include('../layouts/header') %>

<h2><%= title %></h2>
<hr>

<form method="post" action="/new-password">
     <% if(valErrors.find(err => err.param === 'password')) { 
          const index = valErrors.findIndex(err => err.param === 'password'); %>
          <div class="alert alert-danger"><%= valErrors[index].msg %></div>
     <% } %>
     <div class="form-group">
          <label>Enter your new password here:</label>
          <input type="password" name="password" class="form-control" placeholder="Password">
     </div>
     
     <% if(valErrors.find(err => err.param === 'confirmPassword')) { 
          const index = valErrors.findIndex(err => err.param === 'confirmPassword'); %>
          <div class="alert alert-danger"><%= valErrors[index].msg %></div>
     <% } %>
     <div class="form-group">
         <label>Confirm password</label>
         <input type="password" name="confirmPassword" class="form-control" placeholder="Confirm password">
     </div>
 
     <input type="hidden" name="_csrf" value="<%= csrfToken %>">
     <input type="hidden" name="userId" value="<%= userId %>">
     <input type="hidden" name="passwordToken" value="<%= passwordToken %>">
     <button type="submit" class="btn btn-outline-secondary">Update password</button>
</form>

<%- include('../layouts/footer') %>
